<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/themes/classic.css}" href="../static/css/themes/classic.css"/>
    <link rel="stylesheet" th:href="@{/css/themes/classic.date.css}" href="../static/css/themes/classic.date.css"/>
    <link rel="stylesheet" th:href="@{/css/themes/classic.time.css}" href="../static/css/themes/classic.time.css"/>

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

    <script th:src="@{/js/picker.js}" src="../static/js/picker.js"/>
    <script th:src="@{/js/picker.date.js}" src="../static/js/picker.date.js"/>
    <script th:src="@{/js/picker.time.js}" src="../static/js/picker.time.js"/>
    <script th:src="@{/js/translations/ru_RU.js}" src="../static/js/translations/ru_RU.js"/>
    <title th:text="#{label.pages.home.title}">home</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Админ-Панель</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/logout}" th:text="#{label.pages.logout}">logout</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/home.html}" th:text="#{label.pages.home.title}">home</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h2>Отчёт по использованию:</h2>
    <form id="usage" action="/admin/makeReport" method="GET" enctype="utf8">
        <div class="form-group row" >
            <label class="col-sm-3" th:text="#{label.booking.starttime}">starttime</label>
            <span class="col-sm-5"><input class="form-control" name="start" id="dayStart" value="" required="required"/></span>
        </div>
        <div class="form-group row" >
            <label class="col-sm-3" th:text="#{label.booking.endtime}">endtime</label>
            <span class="col-sm-5"><input class="form-control" name="end" id="dayEnd" value="" required="required"/></span>
        </div>
        <input type="submit" class="btn btn-primary" id="reportSubmit" value="Создать отчёт"/>
    </form>

    <h1>Пользователи</h1>
    <br/><br/>

    <form th:each="user : ${users}" th:id="changeForm + ${user.id}" action="" method="POST" enctype="utf8"></form>
    <table class="table">
        <thead>
        <tr>
            <th>№</th>
            <th>UUID</th>
            <td>Имя</td>
            <td>Фамилия</td>
            <th>EMail</th>
            <td>Баланс</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td><input type="text" th:form="changeForm + ${user.id}" name="id" class="form-control" th:value="${user.id}" readonly="readonly"/></td>
            <td><input type="text" th:form="changeForm + ${user.id}" name="uuid" class="form-control" th:value="${user.uuid}"/></td>
            <td><input type="text" th:form="changeForm + ${user.id}" name="firstName" class="form-control" th:value="${user.firstName}"/></td>
            <td><input type="text" th:form="changeForm + ${user.id}" name="lastName" class="form-control" th:value="${user.lastName}"/></td>
            <td><input type="text" th:form="changeForm + ${user.id}" name="email" class="form-control" th:value="${user.email}"/></td>
            <td><input type="text" th:form="changeForm + ${user.id}" name="balance" class="form-control" th:value="${user.balance}"/></td>
            <td><input type="submit" th:form="changeForm + ${user.id}" class="btn btn-primary" value="Изменить"/></td>
        </tr>
        </tbody>
    </table>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var serverContext = [[@{/}]];
    $(document).ready(function () {
        $("#dayStart").pickadate({
            format: 'yyyy-mm-dd'
        });
        $("#dayEnd").pickadate({
            format: 'yyyy-mm-dd'
        });

        var users = [[${users}]];

        for (i = 0; i < users.length; i++) {
            $('#changeForm' + users[i].id).submit(function(event) {
                event.preventDefault();
                var formData = $(this).serialize();
                $.post(serverContext + "admin/change", formData, function (data) {
                    if (data.message == "success") {
                        alert("Успешно");
                    }
                }).fail(function (data) {
                    console.log(data);
                    alert("Ошибка");
                });
            });
        }
    });

    /*]]>*/
</script>
</body>

</html>

