<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/themes/classic.css}" href="../static/css/themes/classic.css"/>
    <link rel="stylesheet" th:href="@{/css/themes/classic.date.css}" href="../static/css/themes/classic.date.css"/>
    <link rel="stylesheet" th:href="@{/css/themes/classic.time.css}" href="../static/css/themes/classic.time.css"/>

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

    <script th:src="@{/js/picker.js}" src="../static/js/picker.js"/>
    <script th:src="@{/js/picker.date.js}" src="../static/js/picker.date.js"/>
    <script th:src="@{/js/picker.time.js}" src="../static/js/picker.time.js"/>
    <script th:src="@{/js/translations/ru_RU.js}" src="../static/js/translations/ru_RU.js"/>
    <title th:text="#{label.pages.booking.title}">booking</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/booking.html}" th:text="#{label.pages.booking.title}">booking</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/logout}" th:text="#{label.pages.logout}">logout</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/home.html}" th:text="#{label.pages.home.title}">home</a></li>
        </ul>
    </div>
</nav>
<div th:if="${param.message != null}" class="alert alert-info" th:text="${param.message[0]}">message</div>
<div th:if="${param.error != null}" class="alert alert-danger" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>
<div class="container">
    <form id="booking" action="#" method="POST" enctype="utf8">
        <div class="form-group row" >
            <label class="col-sm-3" th:text="#{label.booking.pickdate}">pickdate</label>
            <span class="col-sm-5"><input class="form-control" name="date" id="dayInput" value="" required="required"/></span>
        </div>
        <div id="time" style="display:none">
            <div class="form-group row">
                <label class="col-sm-3" th:text="#{label.booking.starttime}">starttime</label>
                <span class="col-sm-5"><input class="form-control" name="timeStart" id="startInput" value="" required="required"/></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3" th:text="#{label.booking.endtime}">endtime</label>
                <span class="col-sm-5"><input class="form-control" name="timeEnd" id="endInput" value="" required="required"/></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3" id="infoLabel" th:text="#{label.booking.cost}">cost</label>
                <span class="col-sm-5"><input class="form-control" id="costInput" value="" readonly="readonly"/></span>
                <span id="balanceError" class="alert alert-danger col-sm-4" style="display:none"></span>
            </div>
            <input type="submit" class="btn btn-primary" id="submitButton" th:value="#{label.booking.process}" disabled="disabled"/>
        </div>
    </form>

    <br/><br/>

    <div th:if="${bookings != null and not #lists.isEmpty(bookings)}">
        <table class="table">
            <thead>
            <tr>
                <th>№</th>
                <td th:text="Пользователь">1</td>
                <td th:text="#{label.booking.table.starttime}">1</td>
                <td th:text="#{label.booking.table.endtime}">1</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="booking,iter : ${bookings}">
                <td th:text="${iter.index}">1</td>
                <td th:text="${booking.user}">1</td>
                <td th:text="${booking.from}">1</td>
                <td th:text="${booking.to}">1</td>
            </tr>
            </tbody>
        </table>
        <form method="GET" action="/booking/makeReport">
            <button class="btn btn-primary" type="submit">Скачать (Excel)</button>
        </form>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var serverContext = [[@{/}]];

    var start = $('#startInput').pickatime({
        format: 'HH:i',
        min: [8, 0],
        max: [22, 30],
        interval: 5,
        onSet: function (data) {
            calc();
        }
    });
    var end = $('#endInput').pickatime({
        format: 'HH:i',
        min: [8, 0],
        max: [22, 30],
        interval: 5,
        onSet: function (data) {
            calc();
        }
    });

    $(document).ready(function () {
        $("#dayInput").pickadate({
            format: 'yyyy-mm-dd',
            min: new Date(),
            onSet: function(dateText) {
                var formData = $('#booking').serialize();
                $.post(serverContext + "booking/pickdate",formData ,function(data){
                    $("#time").show();

                    var picker = start.pickatime('picker');
                    picker.set('enable', true);
                    picker.set('disable', data);

                    picker = end.pickatime('picker');
                    picker.set('enable', true);
                    picker.set('disable', data);
                });
            }
        });

        $('#booking').submit(function(event) {
            register(event);
        });
    });

    function calc() {
        var startPicker = start.pickatime('picker');
        var endPicker = end.pickatime('picker');

        var startValue = startPicker.get('select');
        var endValue = endPicker.get('select');

        if(startValue != null && endValue != null) {
            var diff = endValue.time - startValue.time;
            if(diff > 0) {
                $("#costInput").val(diff);
                $("#submitButton").prop('disabled', false);
                return;
            }
        }

        $("#costInput").val('');
        $("#submitButton").prop('disabled', true);
    }

    function register(event){
        event.preventDefault();
        var formData= $('#booking').serialize();
        $.post(serverContext + "booking/process", formData, function (data) {
            if (data.message == "success") {
                window.location.href = serverContext + "successBooking.html";
            }
        })
            .fail(function (data) {
                if (data.responseJSON.error == "NotEnoughMoney") {
                    $("#balanceError").show().html(data.responseJSON.message);
                }
                else if (data.responseJSON.error.indexOf("InternalError") > -1) {
                    window.location.href = serverContext + "booking?message=" + data.responseJSON.message;
                }
            });
    }
    /*]]>*/
</script>
</body>
</html>
