<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title th:text="#{label.pages.home.title}">home</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:text="#{label.pages.home.title}">home</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/logout}" th:text="#{label.pages.logout}">logout</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/booking.html}" th:text="#{label.pages.booking.title}">booking</a></li>
        </ul>
        <div sec:authorize="hasAuthority('ADMIN_PANEL')">
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/admin.html}">Админ-Панель</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container well">
    <div class="row">
        <div class="col-md-2">
            <img th:src="@{/img/noavatar.png}" src="../static/img/noavatar.png" class="img-responsive"></img>
        </div>

        <div th:inline="text" class="col-md-8">
            <h2>[[${firstName}]] [[${lastName}]]</h2>
            <h5>Email: <strong>[[${email}]]</strong></h5>
            <h5>[[#{label.pages.balance}]] <strong>[[${balance}]] [[#{label.pages.balance.ball}]]</strong></h5>
            <h5>Время работы (мин): <strong>[[${time}]]</strong></h5>
        </div>

        <div class="col-md-1 col-md-offset-1">
            <div class="btn-group">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/changePassword.html}" href="#">Изменить пароль</a></li>
                        <li><a th:href="@{/logout}" href="#">Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>

