<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
    <title th:text="#{label.pages.booking.title}">booking</title>
</head>
<body>
<div class="container">
    <h1 class="alert alert-success" th:text="#{message.bookingSucc}">success</h1>
    <a th:href="@{/home.html}" th:text="#{label.home}">home</a>
</div>
</body>
</html>